body{
    background-color: lightgray;
}
div{
    background-color: gray;
}
h2{
    background-color: rgb(65, 61, 61);
    text-decoration: underline;
    color: yellow;

}
h1{
    text-align: center;
}

h3{
    font-style: italic;
    background-color: rgb(173, 168, 168);
    color: yellow;
}
.titulo{
    color: blue;
}
.texto{
    font-weight: bold;
    color: blue;
}
footer{
    text-align: right;
    background-color: white;
}

hr{
    height: 1px;
    background-color: black;
}